.text-align-center{
    text-align: center;
}
.text-align-right{
    text-align: right;
}
.text-align-left{
    text-align: left;
}
.text-align-justify{
    text-align: justify;
}
.text-decoration{
    text-decoration: none;
}

.p-max{
      max-width: 600px;
}