:root {
  /* ORANGE PALETTE */
  --orange-50:  #fff6e6;
  --orange-100: #ffd8b0;
  --orange-200: #ffb97a;
  --orange-300: #ff9654;
  --orange-400: #ff8233;
 --orange-500 : #ff6300;
  --orange-600: #e85a00;
  --orange-700: #b54600;
  --orange-800: #8c3600;
  --orange-900: #6b2a00;

  /* BLACK / GRAY PALETTE */
  --black-50:  #f1f1f1;
  --black-100: #b0b0b0;
  --black-200: #8a8a8a;
  --black-300: #545454;
  --black-400: #333333;
  --black-500: #000000;
  --black-600: #000000;
  --black-700: #000000;
  --black-800: #000000;
  --black-900: #000000;

  --swiper-theme-color: #e85a00;
}
