.display{
    display: flex;
}
.center{
    justify-content: center;
    align-items: center;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}
.space-evenly{
    justify-content: space-evenly;
}
.column-direction{
    flex-direction: column;
}
.row-direction{
    flex-direction: row;
}
.wrap{
    flex-wrap: wrap;
}
.nowrap{
    flex-wrap: nowrap;
}
.align-start{
    align-items: flex-start;
}
.align-end{
    align-items: flex-end;
}
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.justify-evenly{
    justify-content: space-evenly;
}
