.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.flex-wrap{
    flex-wrap: wrap;
}
