body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 0px;
    margin: 0px;
    justify-content: center;
}
.main{
    margin: 100px ;
}

/* headdings */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

/* margin */
.margin-x{
    margin: 0px 100px;
}
.m-0 {
    margin: 0px;
}
.m-10 {
    margin: 10px;
}
.m-20 {
    margin: 20px;
}


.mt-0 {
    margin-top: 0px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mt-50{
    margin-top: 50px;
}

.p-0{
    padding: 5px
}
.p-1{
    padding: 5px;
}
.pt-10{
    padding-top: 10px;
}
.pt-20{
    padding-top: 20px;
}
.pt-30{
    padding-top: 30px;
}


.pb-10{
    padding-bottom: 10px;
}
.pb-20{
    padding-bottom: 0px;
}
.pb-30{
    padding-bottom: 30px;
}
.pb-40{
    padding-bottom: 40px;
}
.pb-50{
    padding-bottom: 50px;
}

.gap-1{
    gap: 10px;
}
.gap-2{
    gap: 20px;
}
.gap-3{
    gap: 30px;
}


/* width */
.w {
    font-weight: bold;
    width: 10px;
}
.w-10 {
    width: 10px;
}

.w-20 {
    width: 20px;
}

.w-30 {
    width: 30px;
}

.w-40 {
    width: 40px;
}

.w-50 {
    width: 50px;
}

/* height */
.h {
    height: 0px;
}

.h-10 {
    height: 10px;
}
.h-20 {
    height: 20px;
}

.h-30 {
    height: 30px;
}

.h-40 {
    height: 40px;
}

.h-50 {
    height: 50px;
}


a{
    color: rgb(8, 8, 8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
li{
    list-style: none;
    
}

.title-tag{
    font-size: 30px;
}
.button-primary {
    background-color: #fd6f00;
    border: none;
    border-radius: 5px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

@media (max-width: 768px){
    .margin-x{
        margin: 0px 30px;

    }
}