       
.skills {
  max-width: 700px;
}

.skill {
  margin-bottom: 30px;
}

.skill span {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.bar {
  height: 8px;
  background: #e5e5e5;
  border-radius: 10px;
  position: relative;
}

.progress {
  height: 100%;
  background: orange;
  border-radius: 10px;
  position: relative;
}

/* Circle knob */
.progress::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  width: 18px;
  height: 18px;
  background: white;
  border: 3px solid orange;
  border-radius: 50%;
}