/* Progress Width Classes  */
.progress-50{width:50%;}
.progress-60{width:60%;}
.progress-70{width:70%;}
.progress-80{width:80%;}
.progress-85{width:85%;}
.progress-88{width:88%;}
.progress-90{width:90%;}
.progress-95{width:95%;}
.progress-100{width:100%;}


/*  Progress Bar Styles */
.skills {max-width: 700px;}

.skill { margin-bottom: 30px; }

.skill span {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.bar {
  height: 8px;
  background: #e5e5e5;
  border-radius: 10px;
  position: relative;
}

.progress {
  height: 100%;
  background: orange;
  border-radius: 10px;
  position: relative;
}

/* Circle knob */
.progress::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  width: 18px;
  height: 18px;
  background: white;
  border: 3px solid orange;
  border-radius: 50%;
}