@import url(./colors.css);

.services-list {
    gap: 30px;
}

.dummy-img {
    height: 50px;
    width: 50px;
    margin-top: 20px;
}

.card {
    background-color: var(--black-50);
    padding: 10px 30px;
    border-radius: 15px;
    flex-wrap: wrap;
}
.card>p{
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    
    .services-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card {
        width: 100%; /* Full width cards on mobile */
        align-items: center;
    }
}